@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* TODO make my own color definitions */
  /* Is this the right approach with tailwind? Should this file even exist? */
  /* I need to learn more about how to use tailwind properly */

  /* I want a color scheme with three colors:
  Background should be neutral-800
  Enabled elements should be neutral-300
  Disabled and background elements should be neutral-600
  SVGs from the library inherit color so this is neutral-300 */
  color: #d7d7d7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
